{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
	<title>Change Password</title>
	<style>

	</style>
</head>
<body>


{% block content %}



<form method="POST" action="{% url 'change_password' %}" class="form1">
	<h2 class ="text-center"> CHANGE PASSWORD </h2>

		{% csrf_token %}

		{% if form.errors %}

		      <div class="alert alert-danger alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>Try Again</sup></small>
                  </button>


               {% for field in form %}
               	{% if field.errors %}
               		{{ field.errors }}
               	{% endif%}

               	{% endfor %}


              </div>

  {% endif %}


		{{ form.as_p }}


		<center><input type="submit" value="Change Password" class=" btn btn-secondary"></center>
	</form>

{% endblock %}
</body>
</html>