{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/registerstyle.css' %}">
    <title>Title</title>
</head>
<body>


{% block content %}
<form method="post" action="" class="myform" align="">
<h2 class ="text-center"> REGISTRATION</h2>

<div class = "col-md-6 offset-md-3">


		{% csrf_token %}

		{% if form.errors %}
		<div class="alert alert-danger alart-dismissable" role ="alert" align="">
                <button class="close" data-dismiss="alert" class="btn">
                    <small><sup>Please Try Again..</sup></small>
                  </button>

               {% for field in form%}
               	{% if field.errors%}
               		{{field.errors}}
               	{% endif%}

               	{% endfor %}

		{% endif %}

		{{ form.as_p }}

		<center><input type="submit" value="Register" ></center>
<!--   <button type="submit" class="btn">Register</button>-->
    <center><p class="mytag">If you already have an account,<a href="{% url 'login' %}"> Login</a> </p></center>

		</div>

</div>
{% endblock %}
</form>
</body>

</html>